// 基础变量
// ---

// `<body>` 的背景色
$body-background: #fff;
$font-family: 'PingFang SC', sans-serif;
$font-variant-base: tabular-nums;
$line-height-base: 1.5715;
$font-feature-settings-base: 'tnum';
$text-color: #333;
$font-size-base: 14px;
