.box-item {
    background: #fff;
    margin-bottom: 40px;
    padding: 40px 0;
}
.demo .nut-row {
    overflow: hidden;
    &:not(:last-child) .nut-col {
        margin-bottom: 30px;
    }
}
.flex-content {
    line-height: 80px;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    background: #ff8881;
    &.flex-content-light {
        background: #ffc7c4;
    }
    &.flex-content-height {
        height: 100px;
    }
}
