@import '../../style/themes';

$btn-prefix-cls: #{$lilin-prefix}-btn;

.#{$btn-prefix-cls} {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    border: none;
    box-sizing: border-box;
}
