@import '../../style/themes.scss';

$action-sheet-prefix-cls: #{$lilin-prefix}-action-sheet;

.#{$action-sheet-prefix-cls} {
    display: block;

    &-title {
        display: block;
        padding: 10px;
        margin: 0;
        text-align: center;
        background-color: $white;
        border-bottom: 1px solid $light-color;
        font-size: $font-size-base;
        color: $title-color;
    }

    &-desc {
        display: block;
        padding: 10px;
        line-height: 24px;
        font-size: $font-size-2;
        text-align: center;
        color: #999;
        background-color: #fff;
        cursor: pointer;
    }

    &-menu {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &-cancel,
    &-menu-item {
        display: block;
        padding: 10px;
        line-height: 24px;
        font-size: $font-size-base;
        color: $title-color;
        text-align: center;
        background-color: #fff;
        cursor: pointer;

        &-desc {
            display: block;
            font-size: $font-size-small;
            color: #999;
        }

        &-disabled {
            color: #e1e1e1 !important;
            cursor: not-allowed;
        }
    }

    &-cancel {
        margin-top: 5px;
        border-top: 1px solid $light-color;
    }
}
