.demo-button-row {
    margin-bottom: 20px;
}
.demo-button-row2 {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.lilin-btn {
    margin-right: 15px;
    &:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }
}
